.slider {
  max-width: 880px;
  max-height: 680px;
}

.item {
  padding: 80px;
  background: #fff;
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.05);
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.detail {
  max-width: 500px;
  width: 100%;
  p {
    color: #4b4b4b;
    text-align: justify;
    font-family: "Montserrat", sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.735px;
  }
  ul {
    list-style: disc;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    li {
      color: #4b4b4b;
      font-family: "Montserrat", sans-serif;
      font-size: 21px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: capitalize;
      margin-bottom: 10px;
    }
  }
  a {
    margin-top: 62px;
    color: #4b4b4b;
    text-align: justify;
    font-family: "Montserrat", sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.735px;
    display: inline-block;
  }
}

@media (max-width: 1440px) {
  .detail {
    p {
      font-size: 18px;
    }
    ul {
      li {
        font-size: 18px;
      }
    }
  }
  .slider {
    max-width: 670px;
  }
}

@media (max-width: 1024px) {
  .item {
    max-width: 100%;
    flex-direction: column;
    .slider {
      max-width: 100% !important;
      margin-top: 15px;
    }
  }
  .detail {
    width: 100%;
    max-width: 100%;
    p {
      font-size: 20px;
    }
    ul {
      li {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 768px) {
  .item {
    padding: 50px;
  }
}

@media (max-width: 500px) {
  .item {
    padding: 25px;
  }
  .detail {
    p {
      font-size: 15px;
    }
    ul {
      li {
        font-size: 15px;
      }
    }
    a {
      font-size: 16px;
      margin-top: 40px;
    }
  }
}
