.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  cursor: pointer;
  border-radius: 8px;
  max-width: 32%;
  width: 100%;
  padding: 38px 56px;
  margin-bottom: 20px;
  align-self: stretch;
  position: relative;
  &::after {
    content: "";
    position: relative;
    position: absolute;
    z-index: 8;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(
        0deg,
        rgba(238, 117, 9, 0.8),
        rgba(238, 117, 9, 0.8)
      ),
      linear-gradient(0deg, #ffffff, #ffffff);
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 8px;
    transition: all 0.3s linear;
  }
  &:hover {
    &::after {
      opacity: 0.6;
    }
  }
  p {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
  }
}

.itemActive {
  background-color: white;
}

@media (max-width: 1024px) {
  .item {
    p {
      font-size: 18px;
    }
  }
}

@media (max-width: 768px) {
  .item {
    max-width: 49%;
  }
}

@media (max-width: 425px) {
  .item {
    p {
      font-size: 15px;
    }
  }
}
