.slider {
  margin: 0;
  max-width: 880px;
  max-height: 680px;
  width: 100%;
  position: "relative";
  .bullet {
    background: #fff;
    width: 80px;
    height: 3px;
    border-radius: 0;
    opacity: 1;
  }
}

.activeBullet {
  background: #fd7a19 !important;
}

.navigation {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 10;
  top: 50%;
  width: 100%;
  justify-content: space-between;
  padding: 0px 30px;
  div {
    cursor: pointer;
    &:first-child {
      margin-right: 15px;
    }
  }
}

@media (max-width: 1440px) {
  .slider {
    max-width: 790px;
  }
  .item {
    padding: 40px 80px;
  }
}
