.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 24px;
}

.item {
  width: 100%;
  position: relative;
  min-height: 400px;
}

@media (max-width: 1024px) {
  .item {
    margin-bottom: 15px;
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
