.item {
  margin-bottom: 24px;
  background: white;
  padding: 10px 15px;
  border: none;
  border-radius: none !important;
  span {
    color: #4b4b4b;
    font-size: 18px;
    font-weight: 700;
    transition: all 0.3s linear;
  }
}

.tab {
  border: none !important;
  background-color: transparent !important;
  flex: 1;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 30px 0;
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    max-width: 228px;
    width: 100%;
    img{
      width: 72px;
      height: 72px;
      object-fit: cover;
    }
    p {
      color: #4b4b4b;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -0.24px;
      margin-top: 11px;
    }
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

@media (max-width: 1440px) {
  .flex {
    div {
      max-width: 30%;
      justify-content: flex-start;
      width: 100%;
      img {
        width: 70px;
        height: 70px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .wrapper {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .flex {
    flex-wrap: wrap;
    div {
      max-width: 100%;
      display: flex;
      align-items: center;
      flex-direction: row;
      margin-bottom: 25px;
      p {
        margin-left: 15px;
        margin-top: 0;
        text-align: left;
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 450px) {
  .item {
    padding: 0;
    span {
      font-size: 16px;
    }
  }
  .flex {
    padding: 15px 0 0 0;
    & > div {
      img {
        width: 50px;
        height: 50px;
      }
      p {
        font-size: 18px;
      }
    }
  }
}
