.priceBtn {
  padding: 14px 28px;
  border: 1px solid rgba(238, 117, 9, 1);
  border-radius: 8px;
  display: inline-block;
  color: rgba(238, 117, 9, 1);
  margin-right: 24px;
}

.catalogBtn {
  background-color: rgba(238, 117, 9, 1);
  border-radius: 8px;
  display: inline-block;
  padding: 14px 28px;
  color: white;
}

@media (max-width: 500px) {
  .flex {
    display: flex;
    align-items: center;
  }
}
