.container {
  margin-top: 44px;
  display: flex;
  flex-direction: column;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  margin-top: 44px;
  gap: 21px;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  span {
    color: #7f7f7f;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.sort {
  width: 200px;
  border: 1px solid var(--75-75-75-gray, #4b4b4b);
  background: #f9f9f9;
  div {
    border: none !important;
  }
}

.pagination {
  align-self: center;
  display: flex;
  margin-top: 40px;
  li {
    border: none !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    background-color: transparent !important;
    a {
      color: #4b4b4b;
      text-align: center;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    &:first-child {
      border: 1px solid black !important;
      border-radius: 0 !important;
    }
    &:last-child {
      border: 1px solid black !important;
      border-radius: 0 !important;
    }
  }
}

.item {
  padding: 12px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 1);
  max-width: 24%;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;
  a {
    margin: 30px 0;
    align-self: center;
    color: rgba(0, 0, 0, 1);
    font-weight: 600;
    position: relative;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid rgba(238, 117, 9, 1);
  }
}
.shortTitle {
  color: rgba(0, 0, 0, 1);
  font-weight: 600;
  font-size: 16px;
  margin-top: 40px;
}

.img {
  position: relative;
  max-width: 100%;
  width: 100%;
  height: 200px;
  img {
    object-fit: cover;
  }
}

.content {
  h2 {
    color: #4b4b4b;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 12px;
    height: 45px;
  }
  a {
    display: block;
    margin-top: 20px;
  }
}
.detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 15px;
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    li {
      color: #fd7a19;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
  span,
  p {
    color: #fd7a19;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    text-transform: capitalize;
  }
}

@media (max-width: 1440px) {
  .item {
    max-width: 32%;
  }
}

@media (max-width: 1024px) {
  .item {
    margin-bottom: 15px;
    a {
      margin: 15px 0;
    }
  }
  .shortTitle {
    margin-top: 15px;
  }
  .flex {
    gap: 0;
    justify-content: space-between;
  }
  .detail {
    p {
      font-size: 17px;
    }
  }
}

@media (max-width: 768px) {
  .item {
    max-width: 49%;
  }
}

@media (max-width: 425px) {
  .item {
    max-width: 100%;
  }
  .sort {
    width: 165px;
  }
}
