.flex {
  display: flex;
  flex-direction: column;
}

.item {
  padding: 80px;
  background: #fff;
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.detail {
  display: flex;
  flex-direction: column;
  ul {
    li {
      color: #4b4b4b;
      text-align: justify;
      font-family: Montserrat;
      font-size: 21px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: -0.735px;
      margin-bottom: 10px;
      position: relative;
      padding-left: 25px;
      &::after{
        position: absolute;
        top: 50%;
        left: 0;
        content: '';
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #4b4b4b;
      }
    }
  }
}
