* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #f9f9f9;
}

ul,
ol {
  list-style: none;
}

input,
button,
textarea {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

section {
  padding-top: 60px;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
  padding: 0 12px;
}

.btn {
  background: #fd7a19;
  padding: 16px 37px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  border: 1px solid transparent;
  transition: all 0.3s linear;
  &:hover {
    color: #4b4b4b;
    border: 1px solid #d9d9d9;
    background: #fff;
  }
}

.btn-white {
  background: white;
  color: #4b4b4b;
  transition: all 0.3s linear;
  &:hover {
    background: #fd7a19;
    color: #fff;
  }
}

.sectionTitle {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  p {
    color: #4b4b4b;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.2px;
    margin-top: 30px;
  }
  h2 {
    color: #4b4b4b;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 16px;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 70px;
      height: 4px;
      background: #fd7a19;
    }
  }
  a{
    position: absolute;
    right: 0;
  }
}

.btn-outline {
  border: 2px solid #fff;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 7px 15px;
  transition: all 0.3s linear;
  &:hover {
    background: #fff;
    color: #4b4b4b;
  }
}

.outline-gray {
  border: 2px solid #4b4b4b;
  color: #4b4b4b;
  &:hover {
    background: #fd7a19;
    color: white;
    border: 2px solid transparent;
  }
}

.ant-collapse-item-active {
  .ant-collapse-header-text {
    color: #fd7a19;
  }
}
