
.link {
  color: #4b4b4b;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  transition: all 0.3s linear;
  cursor: pointer;
  &:not(:last-child) {
    margin-right: 55px;
  }
  &.active_link {
    color: #fd7a19;
  }
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact {
  display: flex;
  align-items: center;
  a {
    display: flex;
    align-items: center;
    color: #4b4b4b;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: all 0.3s linear;
    &:not(:last-child) {
      margin-right: 30px;
    }
    svg {
      margin-right: 5px;
      path {
        transition: all 0.3s linear;
      }
    }

    &:hover {
      color: #fd7a19;
      svg {
        path {
          fill: #fd7a19;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .link {
    font-size: 18px;
    &:not(:last-child) {
      margin-right: 25px;
    }
  }
}

@media (max-width: 768px) {
  .contact {
    a {
      font-size: 0;
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }
  .burger {
    display: flex;
    flex-direction: column;
    span {
      margin-bottom: 5px;
      width: 28px;
      height: 3px;
      background: #4b4b4b;
    }
  }
}
