.bg {
  background: url("/beton.png") center center / 100% no-repeat;
  padding-top: 470px;
  padding-bottom: 470px;
}

.notFound {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 970px;
  margin: 0 auto;
  flex-direction: column;
  h1 {
    color: #000;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 25px;
  }
}
