.footer {
  background: linear-gradient(0deg, #fff 0%, #fff 100%), #fff;
  padding: 50px 0;
  margin-top: 70px;
}
.contact {
  display: flex;
  flex-direction: column;
  li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    span {
      color: #4b4b4b;
      font-size: 21px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-right: 70px;
      display: inline-block;
      width: 120px;
    }
    p {
      color: #4b4b4b;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}
.social {
  display: flex;
  align-items: center;
  a {
    margin-right: 15px;
  }
}
@media (max-width: 500px) {
  .contact {
    li {
      span {
        width: 60px;
        font-size: 16px;
      }
    }
  }
}
