/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/shared/components/footer/index.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.footer_footer__NAan4 {
  background: linear-gradient(0deg, #fff 0%, #fff 100%), #fff;
  padding: 50px 0;
  margin-top: 70px;
}

.footer_contact__5vrcZ {
  display: flex;
  flex-direction: column;
}
.footer_contact__5vrcZ li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.footer_contact__5vrcZ li span {
  color: #4b4b4b;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: 70px;
  display: inline-block;
  width: 120px;
}
.footer_contact__5vrcZ li p {
  color: #4b4b4b;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer_social__YwpTD {
  display: flex;
  align-items: center;
}
.footer_social__YwpTD a {
  margin-right: 15px;
}

@media (max-width: 500px) {
  .footer_contact__5vrcZ li span {
    width: 60px;
    font-size: 16px;
  }
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/shared/components/navigation/index.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.navigation_link__jqvXf {
  color: #4b4b4b;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  transition: all 0.3s linear;
  cursor: pointer;
}
.navigation_link__jqvXf:not(:last-child) {
  margin-right: 55px;
}
.navigation_link__jqvXf.navigation_active_link__PgqET {
  color: #fd7a19;
}

.navigation_menu__QIr_J {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation_contact__hZYp6 {
  display: flex;
  align-items: center;
}
.navigation_contact__hZYp6 a {
  display: flex;
  align-items: center;
  color: #4b4b4b;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all 0.3s linear;
}
.navigation_contact__hZYp6 a:not(:last-child) {
  margin-right: 30px;
}
.navigation_contact__hZYp6 a svg {
  margin-right: 5px;
}
.navigation_contact__hZYp6 a svg path {
  transition: all 0.3s linear;
}
.navigation_contact__hZYp6 a:hover {
  color: #fd7a19;
}
.navigation_contact__hZYp6 a:hover svg path {
  fill: #fd7a19;
}

@media (max-width: 1024px) {
  .navigation_link__jqvXf {
    font-size: 18px;
  }
  .navigation_link__jqvXf:not(:last-child) {
    margin-right: 25px;
  }
}
@media (max-width: 768px) {
  .navigation_contact__hZYp6 a {
    font-size: 0;
  }
  .navigation_contact__hZYp6 a:not(:last-child) {
    margin-right: 15px;
  }
  .navigation_burger__BKuW9 {
    display: flex;
    flex-direction: column;
  }
  .navigation_burger__BKuW9 span {
    margin-bottom: 5px;
    width: 28px;
    height: 3px;
    background: #4b4b4b;
  }
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/shared/components/header/index.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.header_header__kn7qQ {
  background: rgba(255, 255, 255, 0.92);
  -webkit-backdrop-filter: blur(3.5px);
          backdrop-filter: blur(3.5px);
  z-index: 999;
  position: relative;
}

.header_header_top__PceGl {
  padding: 25px 0;
  border-bottom: 1px solid #e2e2e2;
}

.header_burger__oO_DA {
  display: none;
}

.header_header_bottom__rH8o1 {
  padding: 40px 0;
}
.header_header_bottom__rH8o1 ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_header_bottom__rH8o1 ul > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #4b4b4b;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin-right: 88px;
  transition: all 0.3s linear;
  width: 254px;
}
.header_header_bottom__rH8o1 ul > *:hover {
  color: #fd7a19;
}
.header_header_bottom__rH8o1 ul > * img {
  margin-bottom: 20px;
}

.header_header_flex__RMqKN {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_header_logo__A3UpM {
  display: flex;
  align-items: center;
}
.header_header_logo__A3UpM span {
  color: #4b4b4b;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  display: inline-block;
  margin-left: 15px;
}

@media (max-width: 1024px) {
  .header_header_bottom__rH8o1 ul {
    align-items: flex-start;
  }
  .header_header_bottom__rH8o1 ul > * {
    width: 130px;
    margin-right: 30px;
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .header_header_flex__RMqKN {
    justify-content: flex-start;
  }
  .header_header_logo__A3UpM {
    margin-right: auto;
  }
  .header_burger__oO_DA {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    cursor: pointer;
  }
  .header_burger__oO_DA span {
    margin-bottom: 5px;
    width: 28px;
    height: 3px;
    background: #4b4b4b;
  }
  .header_menuActive__5fhhM {
    top: 90px !important;
  }
  .header_menu__oPLbc {
    border-top: 1px solid gray;
    background-color: white;
    position: fixed;
    z-index: 99;
    left: 0;
    top: -1000%;
    width: 100%;
    padding: 20px;
    transition: all 0.3s linear;
  }
  .header_menu__oPLbc ul {
    display: flex;
    flex-direction: column;
  }
  .header_menu__oPLbc ul p {
    color: #4b4b4b;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
  }
  .header_menu__oPLbc ul li {
    margin-bottom: 10px;
  }
  .header_menu__oPLbc ul li a {
    color: #4b4b4b;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
  }
}
@media (max-width: 500px) {
  .header_burger__oO_DA {
    margin-left: 30px;
  }
}
@media (max-width: 450px) {
  .header_header_logo__A3UpM img {
    width: 30px;
    height: 30px;
  }
  .header_header_logo__A3UpM span {
    font-size: 16px;
    margin-left: 5px;
  }
  .header_menuActive__5fhhM {
    top: 85px !important;
  }
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/shared/components/advantage/index.module.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.advantage_item__q4CJh {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.05);
  max-width: 380px;
  width: 100%;
  padding: 20px;
  align-self: stretch;
}

.advantage_flex__chjLY {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantage_info__IPvWt {
  max-width: 250px;
  width: 100%;
}
.advantage_info__IPvWt h3 {
  color: #4b4b4b;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 15px;
}
.advantage_info__IPvWt p {
  color: #4b4b4b;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.08px;
}

@media (max-width: 1440px) {
  .advantage_item__q4CJh {
    max-width: 24%;
  }
  .advantage_info__IPvWt {
    max-width: 190px;
  }
}
@media (max-width: 1024px) {
  .advantage_item__q4CJh {
    max-width: 37%;
    margin-bottom: 15px;
  }
  .advantage_flex__chjLY {
    justify-content: space-around;
  }
}
@media (max-width: 768px) {
  .advantage_item__q4CJh {
    max-width: 100%;
    justify-content: flex-start;
    padding: 30px 20px;
  }
  .advantage_info__IPvWt {
    margin-left: 25px;
    max-width: 100%;
  }
}
@media (max-width: 450px) {
  .advantage_item__q4CJh {
    flex-direction: column;
    align-items: flex-start;
  }
  .advantage_info__IPvWt {
    margin-left: 0;
    margin-top: 20px;
  }
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/shared/components/catalog-prewiev/index.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.catalog-prewiev_image__prEfm {
  position: relative;
  min-height: 600px;
  width: 100%;
}

.catalog-prewiev_item__BNNbY {
  max-width: 32%;
  width: 100%;
  background: #fff;
}

.catalog-prewiev_flex__nbr8m {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.catalog-prewiev_desc__UsK_1 {
  display: flex;
  align-items: center;
  padding: 25px;
}
.catalog-prewiev_desc__UsK_1 p {
  color: #4b4b4b;
  font-size: 27px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 30px;
}

@media (max-width: 1024px) {
  .catalog-prewiev_flex__nbr8m {
    flex-direction: column;
    align-items: flex-start;
  }
  .catalog-prewiev_item__BNNbY {
    width: 100%;
    max-width: 100%;
    margin-bottom: 15px;
  }
  .catalog-prewiev_image__prEfm {
    min-height: 740px;
  }
}
@media (max-width: 1024px) {
  .catalog-prewiev_image__prEfm {
    min-height: 520px;
  }
  .catalog-prewiev_image__prEfm img {
    object-fit: cover;
  }
}
@media (max-width: 500px) {
  .catalog-prewiev_desc__UsK_1 {
    padding: 15px;
  }
  .catalog-prewiev_desc__UsK_1 p {
    font-size: 22px;
    margin-left: 15px;
  }
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/shared/components/partner/index.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.partner_item__wM5pn {
  min-height: 515px;
  height: 100%;
  background-position: center;
  background-size: contain;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.partner_title__DYNxX h3 {
  color: #fff;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.partner_detail__MAfdD p {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 18px;
  border-top: 1px solid white;
  margin-top: 25px;
}

.partner_navigation__9Gg2X {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 10;
  top: -15%;
  right: 0;
}
.partner_navigation__9Gg2X div {
  cursor: pointer;
}
.partner_navigation__9Gg2X div:first-child {
  margin-right: 15px;
}

@media (max-width: 450px) {
  .partner_item__wM5pn {
    padding: 30px 15px;
  }
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/shared/components/clients/index.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.clients_flex__7WeT0 {
  display: flex;
  flex-wrap: wrap;
}

.clients_item__spj9Q {
  max-width: 24%;
  cursor: pointer;
  align-self: stretch;
  width: 100%;
  min-height: 230px;
  padding: 70px 35px;
  background-color: white;
  position: relative;
  margin-bottom: 20px;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clients_item__spj9Q img {
  max-width: 270px;
  max-height: 100px;
  object-fit: contain;
  display: block;
  position: inherit !important;
}
.clients_item__spj9Q:not(:nth-child(4n)) {
  margin-right: 20px;
}
.clients_item__spj9Q:hover .clients_info__e6dAv {
  top: 0;
}

.clients_info__e6dAv {
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fd7a19;
  position: absolute;
  padding: 0 16px;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  transition: all 0.3s linear;
}
.clients_info__e6dAv p {
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.clients_info__e6dAv h3 {
  text-align: center;
  color: #fff;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 15px;
}

@media (max-width: 1440px) {
  .clients_flex__7WeT0 {
    justify-content: space-between;
  }
  .clients_item__spj9Q {
    max-width: 30%;
  }
}
@media (max-width: 768px) {
  .clients_info__e6dAv h3 {
    font-size: 25px;
  }
  .clients_info__e6dAv p {
    font-size: 14px;
  }
}
@media (max-width: 425px) {
  .clients_item__spj9Q {
    max-width: 100%;
    margin-right: 0;
  }
  .clients_item__spj9Q:not(:nth-child(4n)) {
    margin-right: 0;
  }
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/shared/components/instagram/index.module.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.instagram_flex__EGr_P {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.instagram_item__VVfo4 {
  max-width: 25%;
  width: 100%;
  position: relative;
  min-height: 400px;
}

@media (max-width: 1024px) {
  .instagram_item__VVfo4 {
    max-width: 48%;
    margin-bottom: 15px;
  }
}
@media (max-width: 425px) {
  .instagram_item__VVfo4 {
    min-height: 250px;
  }
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/shared/components/form/file-form.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.file-form_flex__Fw17A {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: flex-start;
  padding: 50px;
  max-width: 728px;
  flex: 1 1;
}
.file-form_flex__Fw17A span {
  color: #4b4b4b;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.file-form_flex__Fw17A h4 {
  color: #4b4b4b;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 40px;
  margin-top: 20px;
}

.file-form_input__7nT1g {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #7f7f7f;
  margin-bottom: 40px;
  position: relative;
  padding-bottom: 15px;
  width: 100%;
}
.file-form_input__7nT1g span {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  z-index: 20;
  display: block;
  cursor: pointer;
}
.file-form_input__7nT1g label {
  color: #4b4b4b;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 15px;
}

@media (max-width: 1024px) {
  .file-form_flex__Fw17A {
    max-width: 100%;
  }
}
@media (max-width: 425px) {
  .file-form_flex__Fw17A {
    padding: 25px;
  }
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/shared/components/task-answer/index.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.task-answer_item___uhTN {
  margin-bottom: 24px;
  background: white;
  padding: 10px 15px;
  border: none;
  border-radius: none !important;
}
.task-answer_item___uhTN span {
  color: #4b4b4b;
  font-size: 18px;
  font-weight: 700;
  transition: all 0.3s linear;
}

.task-answer_tab__qzzh2 {
  border: none !important;
  background-color: transparent !important;
  flex: 1 1;
}

.task-answer_flex__RapIg {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 30px 0;
}
.task-answer_flex__RapIg div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  max-width: 228px;
  width: 100%;
}
.task-answer_flex__RapIg div img {
  width: 72px;
  height: 72px;
  object-fit: cover;
}
.task-answer_flex__RapIg div p {
  color: #4b4b4b;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.24px;
  margin-top: 11px;
}

.task-answer_wrapper__swh3y {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

@media (max-width: 1440px) {
  .task-answer_flex__RapIg div {
    max-width: 30%;
    justify-content: flex-start;
    width: 100%;
  }
  .task-answer_flex__RapIg div img {
    width: 70px;
    height: 70px;
  }
}
@media (max-width: 1024px) {
  .task-answer_wrapper__swh3y {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .task-answer_flex__RapIg {
    flex-wrap: wrap;
  }
  .task-answer_flex__RapIg div {
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 25px;
  }
  .task-answer_flex__RapIg div p {
    margin-left: 15px;
    margin-top: 0;
    text-align: left;
    font-size: 20px;
  }
}
@media (max-width: 450px) {
  .task-answer_item___uhTN {
    padding: 0;
  }
  .task-answer_item___uhTN span {
    font-size: 16px;
  }
  .task-answer_flex__RapIg {
    padding: 15px 0 0 0;
  }
  .task-answer_flex__RapIg > div img {
    width: 50px;
    height: 50px;
  }
  .task-answer_flex__RapIg > div p {
    font-size: 18px;
  }
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/shared/components/breadcrumb/index.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.breadcrumb_item__xJc8L {
  color: #7f7f7f;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.breadcrumb_itemWhite__xqtSO {
  color: white;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.breadcrumb_flex__haPeP ol {
  display: flex;
  align-items: center;
}
.breadcrumb_flex__haPeP ol li a:hover {
  background-color: none !important;
}
.breadcrumb_flex__haPeP ol li:last-child a {
  color: #4b4b4b;
}

@media (max-width: 500px) {
  .breadcrumb_item__xJc8L {
    font-size: 16px;
  }
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/shared/components/slider/index.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.slider_slider__0SO0V {
  margin: 0;
  max-width: 880px;
  max-height: 680px;
  width: 100%;
  position: "relative";
}
.slider_slider__0SO0V .slider_bullet__8WWXl {
  background: #fff;
  width: 80px;
  height: 3px;
  border-radius: 0;
  opacity: 1;
}

.slider_activeBullet__W2fZ3 {
  background: #fd7a19 !important;
}

.slider_navigation__2GRNx {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 10;
  top: 50%;
  width: 100%;
  justify-content: space-between;
  padding: 0px 30px;
}
.slider_navigation__2GRNx div {
  cursor: pointer;
}
.slider_navigation__2GRNx div:first-child {
  margin-right: 15px;
}

@media (max-width: 1440px) {
  .slider_slider__0SO0V {
    max-width: 670px;
  }
  .slider_item__hCm8D {
    padding: 40px 80px;
  }
}
@media (max-width: 1024px) {
  .slider_item__hCm8D {
    padding: 40px;
  }
}
@media (max-width: 1024px) {
  .slider_slider__0SO0V {
    max-width: 100%;
    margin-top: 20px;
  }
}
@media (max-width: 500px) {
  .slider_navigation__2GRNx {
    padding: 0 10px;
  }
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/shared/styles/Home.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Home_hero__i46Qk {
  padding-top: 50px;
}

.Home_heroFlex__VSSYr {
  display: flex;
  flex-direction: column;
}

.Home_heroDesc__d2w_v {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.Home_heroDesc__d2w_v h1 {
  color: #4b4b4b;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  max-width: 990px;
  width: 100%;
}

.Home_heroImage__VQWyo {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 500px;
  margin-top: 50px;
}

@media (max-width: 1440px) {
  .Home_heroDesc__d2w_v h1 {
    font-size: 25px;
    max-width: 655px;
  }
  .Home_heroImage__VQWyo img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
  }
}
@media (max-width: 768px) {
  .Home_heroFlex__VSSYr {
    flex-direction: column-reverse;
  }
  .Home_heroFlex__VSSYr h1 {
    position: absolute;
    top: 20%;
    left: 40px;
    z-index: 20;
    color: white;
    font-size: 30px;
  }
  .Home_heroImage__VQWyo {
    margin-top: 0;
    position: relative;
    z-index: -1;
  }
  .Home_heroDesc__d2w_v {
    margin-top: 20px;
  }
}
@media (max-width: 500px) {
  .Home_hero__i46Qk {
    padding-top: 20px;
  }
  .Home_heroFlex__VSSYr h1 {
    max-width: 80%;
    font-size: 27px;
    left: 30px;
  }
}
@media (max-width: 450px) {
  .Home_heroFlex__VSSYr h1 {
    font-size: 20px;
    letter-spacing: 2px;
  }
  .Home_heroImage__VQWyo {
    border-radius: 10px;
  }
  .Home_heroImage__VQWyo img {
    border-radius: 10px;
  }
}
