.item {
  color: #7f7f7f;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.itemWhite {
  color: white;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.flex {
  ol {
    display: flex;
    align-items: center;
    li {
      a {
        &:hover {
          background-color: none !important;
        }
      }
      &:last-child {
        a {
          color: #4b4b4b;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .item {
    font-size: 16px;
  }
}
