.item {
  color: #7f7f7f;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  height: 13px !important;
  text-transform: uppercase;
  cursor: pointer;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.itemWhite {
  color: white !important;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  a {
    color: white;
  }
}

.flex {
  ol {
    display: flex;
    align-items: center;
    li {
      a {
        &:hover {
          background-color: none !important;
        }
      }
      &:last-child {
        a {
          color: #4b4b4b;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .wrapper {
    align-items: center;
  }
}

@media (max-width: 500px) {
  .item {
    font-size: 16px;
  }
  .wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  .flex {
    margin-bottom: 15px;
  }
}
